{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="twelve columns">
            <form method="post" action="{{ url_for('generate_url') }}">
                <label for="url-to-shorten">URL</label>
                <input class="u-full-width" type="url" name="url" id="url-to-shorten">
                <input class="button-primary" type="submit" value="Shorten">
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns success-box">
            <h5>New LilLink Generated!</h5>
            <hr>
            <label for="original-url">Original URL</label>
            <input class="u-full-width" type="text" id="original-url" value="{{ message["original_url"] }}" readonly>
            <label for="lillink-url">LilLink URL</label>
            <input class="u-full-width" type="text" id="lillink-url" value="{{ url_for('redirect_user', urlkey = message["shortened_url"], _external = True) }}" readonly>
        </div>
        <div class="three columns">&nbsp;</div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}



{% endblock %}