{% extends "base.html" %}
{% block content %}
    <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Success!</h1>
                <p class="lead">A new LilLink has been successfully generated.</p>
            </div>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <p class="lead">Original URL: {{ original_url }}</p>
            <p class="lead">Shortened URL: http://127.0.0.1:5000/ {{ url_key }}</p>
        </div>
    </div>
        <!-- /.row -->
{% endblock %}